apiVersion: apps/v1
kind: Deployment
metadata:
  name: podinfo
  labels:
    app: podinfo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: podinfo
  template:
    metadata:
      labels:
        app: podinfo
    spec:
      containers:
        - name: podinfo
          image: ghcr.io/stefanprodan/podinfo:6.6.3
          ports:
            - containerPort: 9898
          env:
            - name: PODINFO_PORT
              value: "9898"
            - name: METRICS_ENABLED
              value: "true"
