persistence:
  type: pvc
  enabled: true
  volumeName: grafana
  accessModes:
    - ReadWriteOnce
  size: 10Gi

datasources:
 datasources.yaml:
   apiVersion: 1
   datasources:
   - name: Prometheus
     type: prometheus
     url: http://prometheus-prometheus-server
     access: proxy
     isDefault: true

initChownData:
  enabled: false